---
volumes:
  postgres-data: {}

services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: sparklemuffin
      POSTGRES_USER: sparklemuffin
      POSTGRES_PASSWORD: sparklemuffin
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U sparklemuffin -d sparklemuffin"
        ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "15432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  sparklemuffin:
    image: ghcr.io/virtualtam/sparklemuffin:latest
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPARKLEMUFFIN_PUBLIC_ADDR: https://sparklemuffin.domain.tld
      SPARKLEMUFFIN_LOG_FORMAT: console
      SPARKLEMUFFIN_LOG_LEVEL: debug
    ports:
      - "8080:8080" # Application
      - "8090:8090" # Monitoring
