{{define "content"}}
<section class="pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/feeds">Feeds</a></li>
      <li class="breadcrumb-item"><a href="/feeds/subscriptions">Subscriptions</a></li>
      <li class="breadcrumb-item active" aria-current="page">Export</li>
    </ol>
  </nav>

  <p class="mb-4">Export your subscriptions to OPML.</p>

  <form action="/feeds/export" method="POST">
    <button type="submit" class="btn btn-primary">Export</button>
  </form>
</section>
{{end}}
