:root {
  --reading-width: min(45rem, 90%);
}

body {
  grid-template-columns: 1fr 4fr 1fr;
}

body > header {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0;
  text-align: left;
}

body > header > h3 {
  grid-column-start: 1;
  grid-column-end: 2;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 1.1rem;
}

body > header > p {
  margin-bottom: 0;
  margin-top: 1.4rem;
  padding-top: 0;
}

body > header > nav {
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: right;
}

body > header > nav > form {
  display: inline;
}

body > header > nav > form > button {
  margin: 0;
  padding: .5rem .9rem;
  border: 1px solid var(--border);
  background: none;
  color: var(--text);
  font-family: var(--sans-font);
  font-weight: normal;
}
body > header > nav > form > button:hover {
  color: #bf616a;
  border-color: #bf616a;
}

body > footer {
  grid-column-start: 2;
  grid-column-end: 3;
}

.bookmark {
  display: grid;
  grid-template-columns: auto 7rem;
}

.bookmark .details {
  font-size: .8rem;
}

.flash {
  margin: 0;
}

.flash-error {
  color: #bf616a;
}

.flash-info {
  color: #4c566a;
}

.flash-success {
  color: #a3be8c;
}

.flash-warning {
  color: #d08770;
}
