{{define "content"}}
<h2>Delete bookmark</h2>
<form action="/bookmarks/{{.UID}}/delete" method="POST">
  <p>Delete bookmark: <a href="{{.URL}}">{{.Title}}</a>?
  <p>
    <button type="submit">Delete</button>
  </p>
</form>
{{end}}
