{{define "content"}}
<section class="section pt-3">
  <h2 class="title">Tools</h2>
  <div class="columns">
    <div class="column menu">
      <h3 class="subtitle">Feeds</h3>
      <ul class="menu-list">
        <li><a href="/tools/feeds/export">Export subscriptions</a></li>
        <li><a href="/tools/feeds/import">Import subscriptions</a></li>
      </ul>
    </div>
  </div>
</section>
{{end}}
