{{define "content"}}
<section class="pt-2">
  <h2 class="h3">{{.Owner.DisplayName}}'s bookmarks</h2>
  {{template "bookmarkSearchForm" .}}
  <ol start="{{.Page.ItemOffset}}">
    {{range .Bookmarks}}
    <li class="bookmark mb-5">
      <div class="d-flex justify-content-between align-items-center mb-1">
        <strong>
          <a class="bookmark-title" href="{{.URL}}">{{.Title}}</a>
        </strong>
        <strong>
          <time>{{.CreatedAt.Format "2006-01-02"}}</time>
        </strong>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-1">
        <div class="d-flex align-items-center gap-1">
          <i class="fa-solid fa-tags"></i>
          <div class="d-flex flex-wrap gap-1">
            {{- range .Tags}}
            <a class="badge text-bg-light" href="/u/{{$.Owner.NickName}}/bookmarks?search={{.}}">{{.}}</a>
            {{- end}}
          </div>
        </div>
        <a href="/u/{{$.Owner.NickName}}/bookmarks/{{.UID}}">
          <i class="fa-solid fa-link me-1"></i>
          Permalink
        </a>
      </div>
      {{- with .Description}}
      <div class="content">
        {{. | MarkdownToHTML}}
      </div>
      {{- end}}
    </li>
    {{end}}
  </ol>
  <nav class="d-flex justify-content-between align-items-center">
    <a href="#" class="btn btn-outline-secondary btn-sm">
      <i class="fa-solid fa-chevron-up me-1"></i>
      Back to top
    </a>
    {{template "pagination" (dict "Page" .Page)}}
  </nav>
</section>
{{end}}

{{define "bookmarkSearchForm"}}
<nav class="d-flex justify-content-between align-items-center mb-3">
  <div class="d-flex align-items-center gap-3">
    <form action="/u/{{.Owner.NickName}}/bookmarks" method="GET">
      <div class="input-group">
        <input class="form-control" type="text" id="searchTerms" name="search" placeholder="Search terms"
               value="{{.Page.SearchTerms}}">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </div>
    </form>
    <p class="fs-5 mb-0">
      {{if ne .Page.SearchTerms "" }}
      <strong>{{.Page.ItemCount}}</strong> bookmark{{if gt .Page.ItemCount 1}}s{{end}} found
      {{else}}
      <strong>{{.Page.ItemCount}}</strong> bookmark{{if gt .Page.ItemCount 1}}s{{end}}
      {{end}}
    </p>
  </div>
  {{template "pagination" (dict "Page" .Page)}}
</nav>
{{end}}
