{{define "content"}}
<h2>Edit feed category</h2>
<form action="/feeds/categories/{{.Category.UUID}}/edit" class="item-form" method="POST">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

  <label for="name">Name</label>
  <input type="text"
         id="name"
         name="name"
         placeholder="Name"
         value="{{.Category.Name}}"
         required="">

  <br>
  <span class="submit">
    <button type="submit">Save</button>
  </span>
</form>
{{end}}
