{{define "content"}}
<section class="pt-2" id="bookmark-list-content">
  {{template "bookmarkSearchForm" .}}
  <ol start="{{.Page.ItemOffset}}">
    {{range .Bookmarks}}
    {{template "bookmarkRow" (dict "Bookmark" . "Owner" $.Owner)}}
    {{end}}
  </ol>
  <nav class="d-flex justify-content-between align-items-center">
    <a href="#" class="btn btn-outline-secondary btn-sm">
      <i class="fa-solid fa-chevron-up me-1"></i>
      Back to top
    </a>
    {{template "pagination" (dict "Page" .Page "HxTarget" "#bookmark-list-content")}}
  </nav>

  <div class="modal modal-wide fade" id="bookmarkEditModal" tabindex="-1" aria-labelledby="bookmarkEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookmarkEditModalLabel">Edit bookmark</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="bookmark-edit-modal-body"></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bookmarkDeleteModal" tabindex="-1" aria-labelledby="bookmarkDeleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookmarkDeleteModalLabel">Delete bookmark</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="bookmark-delete-modal-body"></div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{define "bookmarkRow"}}
<li class="bookmark mb-4" id="bookmark-row-{{.Bookmark.UID}}">
  <div class="d-flex justify-content-between align-items-center mb-1">
    <strong>
      {{- if .Bookmark.Private}}
      <span class="text-danger">[Private]</span>
      {{- end}}
      <a class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-100-hover" href="{{.Bookmark.URL}}">{{.Bookmark.Title}}</a>
    </strong>
    <strong>
      <time>{{.Bookmark.CreatedAt.Format "2006-01-02"}}</time>
    </strong>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-1">
    <div class="d-flex align-items-center gap-1">
      <i class="fa-solid fa-tags"></i>
      <div class="d-flex flex-wrap gap-1">
        {{- range .Bookmark.Tags}}
        <a class="badge bg-secondary-subtle text-secondary-emphasis" href="/bookmarks?search={{.}}">{{.}}</a>
        {{- end}}
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false" aria-controls="dropdown-menu-{{.Bookmark.UID}}">
        Actions
      </button>
      <ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu-{{.Bookmark.UID}}" role="menu">
        <li>
          <a href="/bookmarks/{{.Bookmark.UID}}/edit" class="dropdown-item"
            hx-get="/bookmarks/{{.Bookmark.UID}}/edit" hx-target="#bookmark-edit-modal-body" hx-swap="innerHTML">
            <i class="fa-solid fa-pen-to-square me-1"></i>
            Edit
          </a>
        </li>
        <li>
          <a href="/bookmarks/{{.Bookmark.UID}}/delete" class="dropdown-item"
            hx-get="/bookmarks/{{.Bookmark.UID}}/delete" hx-target="#bookmark-delete-modal-body" hx-swap="innerHTML">
            <i class="fa-solid fa-trash me-1"></i>
            Delete
          </a>
        </li>
        {{- if not .Bookmark.Private}}
        <li><hr class="dropdown-divider"></li>
        <li>
          <a href="/u/{{.Owner.NickName}}/bookmarks/{{.Bookmark.UID}}" class="dropdown-item">
            <i class="fa-solid fa-link me-1"></i>
            Permalink
          </a>
        </li>
        {{- end}}
      </ul>
    </div>
  </div>
  {{- with .Bookmark.Description}}
  <div class="content">
    {{. | MarkdownToHTML}}
  </div>
  {{- end}}
</li>
{{end}}

{{define "bookmarkSearchForm"}}
<nav class="d-flex justify-content-between align-items-center mb-3">
  <div class="d-flex align-items-center gap-3">
    <form action="/bookmarks" method="GET"
      hx-get="/bookmarks" hx-target="#bookmark-list-content" hx-swap="outerHTML" hx-push-url="true">
      <div class="input-group">
        <input class="form-control" type="text" id="searchTerms" name="search" placeholder="Search terms"
               value="{{.Page.SearchTerms}}">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </div>
    </form>
    <p class="fs-5 mb-0">
      {{if ne .Page.SearchTerms "" }}
      <strong>{{.Page.ItemCount}}</strong> bookmark{{if gt .Page.ItemCount 1}}s{{end}} found
      {{else}}
      <strong>{{.Page.ItemCount}}</strong> bookmark{{if gt .Page.ItemCount 1}}s{{end}}
      {{end}}
    </p>
  </div>
  {{template "pagination" (dict "Page" .Page "HxTarget" "#bookmark-list-content")}}
</nav>
{{end}}

{{define "scripts"}}
  <script nonce="{{.Nonce}}" src="/static/complete-tags.min.js"></script>
  <script nonce="{{.Nonce}}" src="/static/easymde-init.min.js"></script>
{{end}}
