{{define "content"}}
<section class="pt-2 container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/account">Account</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update Password</li>
    </ol>
  </nav>

  <form action="/account/password" method="POST">
    <div class="row mb-3">
      <label for="current_password" class="col-sm-2 col-form-label">Current password</label>
      <div class="col-sm-10">
        <input class="form-control" type="password" id="current_password" name="current_password"
          placeholder="Current password" required="">
      </div>
    </div>

    <div class="row mb-3">
      <label for="new_password" class="col-sm-2 col-form-label">New password</label>
      <div class="col-sm-10">
        <input class="form-control" type="password" id="new_password" name="new_password" minlength="{{MinPasswordLength}}"
          placeholder="New password" required="">
        <div class="form-text">Must be at least {{MinPasswordLength}} characters long.</div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="new_password_confirmation" class="col-sm-2 col-form-label">New password (confirmation)</label>
      <div class="col-sm-10">
        <input class="form-control" type="password" id="new_password_confirmation" name="new_password_confirmation"
          placeholder="New password (confirmation)" required="">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Update password</button>
      </div>
    </div>
  </form>
</section>
{{- end}}
