{{define "footer"}}
<footer class="footer py-4">
  <div class="content text-center">
    <strong>SparkleMuffin</strong>
    <br>
    <strong class="logo">(o O O o)</strong>
  </div>
</footer>
{{end}}
