{{define "navbar"}}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary border-bottom fixed-top" aria-label="main navigation">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto">
          {{- if .User}}
          <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link" href="/bookmarks">
              <i class="fa-regular fa-bookmark me-1"></i>
              <span class="nav-link-label">Bookmarks</span>
            </a>
            <a class="nav-link dropdown-toggle navbar-dropdown-caret px-3" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" aria-controls="navbar-dropdown-bookmarks">
              <i class="fa-solid fa-chevron-down"></i>
              <span class="visually-hidden">Toggle Bookmarks menu</span>
            </a>

            <ul class="dropdown-menu" id="navbar-dropdown-bookmarks" role="menu">
              <li>
                <a class="dropdown-item" href="/bookmarks/add">
                  <i class="fa-solid fa-plus me-1"></i>
                  <span class="nav-link-label">Add bookmark</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/bookmarks/tags">
                  <i class="fa-solid fa-tags me-1"></i>
                  <span class="nav-link-label">Tags</span>
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="/bookmarks/export">
                  <i class="fa-solid fa-download me-1"></i>
                  <span class="nav-link-label">Export bookmarks</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/bookmarks/import">
                  <i class="fa-solid fa-upload me-1"></i>
                  <span class="nav-link-label">Import bookmarks</span>
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="/u/{{.User.NickName}}/bookmarks">
                  <i class="fa-solid fa-share-nodes me-1"></i>
                  <span class="nav-link-label">Public bookmark URL</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/u/{{.User.NickName}}/feed/atom">
                  <i class="fa-solid fa-rss me-1"></i>
                  <span class="nav-link-label">Public Atom feed</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link" href="/feeds">
              <i class="fa-regular fa-newspaper me-1"></i>
              <span class="nav-link-label">Feeds</span>
            </a>
            <a class="nav-link dropdown-toggle navbar-dropdown-caret px-3" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" aria-controls="navbar-dropdown-feeds">
              <i class="fa-solid fa-chevron-down"></i>
              <span class="visually-hidden">Toggle Feeds menu</span>
            </a>

            <ul class="dropdown-menu" id="navbar-dropdown-feeds" role="menu">
              <li>
                <a class="dropdown-item" href="/feeds/subscriptions/add">
                  <i class="fa-solid fa-plus me-1"></i>
                  <span class="nav-link-label">Add subscription</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/feeds/categories/add">
                  <i class="fa-solid fa-plus me-1"></i>
                  <span class="nav-link-label">Add category</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/feeds/subscriptions">
                  <i class="fa-regular fa-newspaper me-1"></i>
                  <span class="nav-link-label">Manage subscriptions</span>
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="/feeds/export">
                  <i class="fa-solid fa-download me-1"></i>
                  <span class="nav-link-label">Export subscriptions</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/feeds/import">
                  <i class="fa-solid fa-upload me-1"></i>
                  <span class="nav-link-label">Import subscriptions</span>
                </a>
              </li>
            </ul>
          </li>
          {{- end}}
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item d-flex align-items-center">
            <button type="button" id="theme-toggle" class="btn btn-link nav-link" aria-label="Toggle color theme">
              <i class="fa-solid fa-circle-half-stroke"></i>
              <span class="visually-hidden">Toggle color theme</span>
            </button>
          </li>
          {{- if .User}}
          {{- if .User.IsAdmin}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" aria-controls="navbar-dropdown-administration">
              <i class="fa-solid fa-lock me-1"></i>
              <span class="nav-link-label">Administration</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-end" id="navbar-dropdown-administration" role="menu">
              <li>
                <a class="dropdown-item" href="/admin/users/add">
                  <i class="fa-solid fa-user-plus me-1"></i>
                  <span class="nav-link-label">Add user</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/admin/users">
                  <i class="fa-solid fa-users me-1"></i>
                  <span class="nav-link-label">Users</span>
                </a>
              </li>
            </ul>
          </li>
          {{- end}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" aria-controls="navbar-dropdown-account">
              <i class="fa-solid fa-user me-1"></i>
              <span class="nav-link-label">Account</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-end" id="navbar-dropdown-account" role="menu">
              <li><h6 class="dropdown-header">{{.User.Email}}</h6></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="/account/info">
                  <i class="fa-solid fa-user me-1"></i>
                  <span class="nav-link-label">Information</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/account/password">
                  <i class="fa-solid fa-lock me-1"></i>
                  <span class="nav-link-label">Password</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/account/preferences">
                  <i class="fa-solid fa-gear me-1"></i>
                  <span class="nav-link-label">Preferences</span>
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form action="/logout" method="POST" class="px-3">
                  <button type="submit" class="btn btn-link p-0">
                    <i class="fa-solid fa-arrow-right-from-bracket me-1"></i>
                    Log out
                  </button>
                </form>
              </li>
            </ul>
          </li>
          {{- else}}
          <li class="nav-item">
            <a class="nav-link" href="/login"><span class="nav-link-label">Login</span></a>
          </li>
          {{- end}}
        </ul>
      </div>
    </div>
  </nav>
</header>
{{- end}}
