{{define "pagination"}}
<nav aria-label="pagination">
  <ul class="pagination pagination-sm mb-0">
    <li class="page-item{{if eq .Page.PreviousPageNumber .Page.PageNumber }} disabled{{end}}">
      <a href="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.PreviousPageNumber}}"
        {{if .HxTarget}}hx-get="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.PreviousPageNumber}}" hx-target="{{.HxTarget}}" hx-swap="outerHTML" hx-push-url="true"{{end}}
        class="page-link">Previous</a>
    </li>
    {{if gt .Page.PageNumber 1}}
    <li class="page-item">
      <a href="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page=1"
        {{if .HxTarget}}hx-get="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page=1" hx-target="{{.HxTarget}}" hx-swap="outerHTML" hx-push-url="true"{{end}}
        class="page-link" aria-label="Goto page 1">1</a>
    </li>
    {{end}}
    {{if gt .Page.PageNumber 3}}
    <li class="page-item disabled">
      <span class="page-link">&hellip;</span>
    </li>
    {{end}}
    {{if gt .Page.PageNumber 2}}
    <li class="page-item">
      <a href="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.PreviousPageNumber}}"
        {{if .HxTarget}}hx-get="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.PreviousPageNumber}}" hx-target="{{.HxTarget}}" hx-swap="outerHTML" hx-push-url="true"{{end}}
        class="page-link" aria-label="Goto page {{.Page.PreviousPageNumber}}">{{.Page.PreviousPageNumber}}</a>
    </li>
    {{end}}
    <li class="page-item active">
      <a class="page-link" aria-label="Page {{.Page.PageNumber}}" aria-current="page">{{.Page.PageNumber}}</a>
    </li>
    {{if lt .Page.NextPageNumber .Page.TotalPages}}
    <li class="page-item">
      <a href="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.NextPageNumber}}"
        {{if .HxTarget}}hx-get="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.NextPageNumber}}" hx-target="{{.HxTarget}}" hx-swap="outerHTML" hx-push-url="true"{{end}}
        class="page-link" aria-label="Goto page {{.Page.NextPageNumber}}">{{.Page.NextPageNumber}}</a>
    </li>
    {{end}}
    {{if gt .Page.PagesLeft 2}}
    <li class="page-item disabled">
      <span class="page-link">&hellip;</span>
    </li>
    {{end}}
    {{if lt .Page.PageNumber .Page.TotalPages}}
    <li class="page-item">
      <a href="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.TotalPages}}"
        {{if .HxTarget}}hx-get="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.TotalPages}}" hx-target="{{.HxTarget}}" hx-swap="outerHTML" hx-push-url="true"{{end}}
        class="page-link" aria-label="Goto page {{.Page.TotalPages}}">{{.Page.TotalPages}}</a>
    </li>
    {{end}}
    <li class="page-item{{if eq .Page.NextPageNumber .Page.PageNumber }} disabled{{end}}">
      <a href="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.NextPageNumber}}"
        {{if .HxTarget}}hx-get="?{{if .Page.SearchTerms}}search={{.Page.SearchTerms}}&amp;{{end}}page={{.Page.NextPageNumber}}" hx-target="{{.HxTarget}}" hx-swap="outerHTML" hx-push-url="true"{{end}}
        class="page-link">Next</a>
    </li>
  </ul>
</nav>
{{end}}
