{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YAWBE</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        {{template "content" .Content}}
      </div>
    </main>
  </body>
</html>
{{end}}

