{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bookmarks | YAWBE</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/www.css">
  </head>
  <body>
    {{template "nav" .}}

    <main>
      {{template "content" .Content}}
    </main>

    {{template "footer"}}
  </body>
</html>
{{end}}

