{{define "easymde"}}
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
  const easyMDE = new EasyMDE({
    element: document.getElementById("{{.}}"),
    autosave: false,
    status: ["lines", "words", "cursor"],
    toolbar: ["bold", "italic", "heading", "|", "quote", "unordered-list", "ordered-list", "|", "link", "image", "|", "preview", "|", "guide",],
    indentWithTabs: false,
    tabSize: 4,
  });
</script>
{{end}}
